:root{
    --brown: #332424;
    --dark-brown: #1b1515;
    --orange: #e4935b;
}

.CategoryItem {
    padding: 0.5rem;
    margin-left: 300px;
    width: 250px;
    background-color: var(--orange);
    border: 1px solid var(--dark-brown);
    text-transform: capitalize;
    cursor: pointer;
    z-index: 1000;
}

.CategoryItem :hover {
    background-color: white;
    padding: 0.7rem;
}

.CategoryItem h2 {
    color: var(--dark-brown);
}